@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap');

div, header, footer, nav, aside, article, section, main, h1, h2 ,h3, h4, h5, h6, p {
    margin: 10px;
    padding: 10px;
    border: solid 1px grey;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: max(12px, 2vw);
    color: rgba(0,0,0,0.6);
    background-color: rgb(164, 208, 211);
}

.row {
    display: flex;
}

.col-1{
    width: 8.3333%;
}

.col-2{
    width: 16.666%;
}
.col-3{
    width: 25%;
}
.col-4{
    width: 33.333%;
}
.col-5{
    width: 41.666%;
}
.col-6{
    width: 50%;
}
.col-7{
    width: 58.333%;
}
.col-8{
    width: calc(100% / 12 * 8);
}
.col-9{
    width: calc(100% / 12 * 9);
}
.col-10{
    width: calc(100% / 12 * 10);
}
.col-11{
    width: calc(100% / 12 * 11);
}


section.details > header > h2 {
    font-size: 12px;
}

#date-widget h2 {
    font-size: 8px;
    color: brown;
    display: block;
}

section > header + p {
    color: brown;
    font-weight: bold;
}

nav ul {
    list-style-type: none;
}

nav ul li a:link {
    text-decoration: none;
   color: darkslategrey; 
}
nav ul li a:visited {
    color: cadetblue;
}
nav ul li a:hover {
    color: aliceblue;
}
nav ul li a:active {
    color: rgb(249, 108, 0);
}

p:nth-child(1)::before {
    content: "test 1: ";
}

p:nth-child(2)::before {
    content: "test 2: ";
}

p:nth-child(3)::before {
    content: "test 3: ";
}

p[data-member="0"]{
    background-color: red;
}

